@charset "UTF-8";

*{  font-family: Arial, Helvetica, sans-serif; color: rgb(253, 253, 253);
    font-size: 18px;
    height: 100;
}
body{
    background-image:linear-gradient(to left, #000000, #413e3e, #050505 );
    min-width: 320px;
    max-width: 1200px;
    margin: auto;
}

.fotop{ 
    box-shadow: 10px 5px 40px rgb(12, 12, 12);
}
#noiva{
    background-image:linear-gradient(to right, rgb(15, 15, 15), rgb(54,78,102), rgb(15, 15, 15));
}
#esqueleto{
    background-image:linear-gradient(to right, black, rgb(180, 172, 129), black );
}
header{
    background-color: rgb(26, 25, 25);
    padding: 10px;
    margin: 20px;
}
.personagem1{
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width:280px;
    
}
.personagem2{
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width:280px;
}
.personagem3{
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width:280px;
}
.personagem4{
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width:280px;
}
.subitem{
    background-color: rgb(46, 46, 46);
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width:280px;
}
.nomes{
    font-family: "Princess Sofia", cursive;
    font-size: 25px;
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width: 295px;
}
.nomes1{
    font-family: "Princess Sofia", cursive;
    font-size: 25px;
    display: inline-table;
    border: 0px solid rgb(46, 46, 46);
    text-align: center;
    height: 12px;
    width: 310px;
}
nav > a{
    text-align: center;
    text-decoration: solid;
    color: rgb(248, 248, 248);
    font-weight: bold;
    margin-right: 130px;
}
.subitem:hover{
    background-color: rgb(92, 89, 89);
}
a{
    font-family: 'Princess Sofia', cursive;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

h1{
    font-family: 'Princess Sofia', cursive;
    font-size: 55px;
    color: snow; box-shadow: rgb(223, 220, 220);
    text-shadow: 10px 3px 2px rgb(49, 49, 49);
    text-align: center; 
    padding: 60px;
    margin: auto;
}

h1 > h1.noiva{
    font-family: 'Princess Sofia', cursive;
    font-size: 55px;
    color: snow; box-shadow: rgb(223, 220, 220);
    text-shadow: 10px 3px 2px rgb(49, 49, 49);
    text-align: center; 
    padding: 60px;
    margin: auto;
}

h2{
    font-family: 'Princess Sofia', cursive;
    font-size: 40px;
    color: snow; box-shadow: black;
    text-shadow: 4px 3px 2px rgb(141, 141, 141);
}
p{ text-justify: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
}
img {
    margin-left: 20%;
}
.burton{
    margin-left: 30%;
    box-shadow: 10px 5px 40px rgb(12, 12, 12);
}
.burton1{
    margin-left: 15%;
    box-shadow: 10px 5px 40px rgb(12, 12, 12);
}
footer{
    font-family: Arial, Helvetica, sans-serif; color: black;
    text-align: center;
 background-color: rgba(248, 249, 250, 0.295);
 width: 1300px;
 padding: 2px;
}
footer > a{
    font-family: "Princess Sofia", cursive; color: black;
}